{% extends 'index.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="container">
   <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Article</th>
      <th>Quantity</th>
      <th>Prix</th>
   
    </tr>
    {% for cart in app.user.carts %}
     {{cart.nbArticle }}
    {% endfor %}
  </thead>
  <tbody>

   <tr>
        <div class="d-flex align-items-center " >
         
          
     
  </tbody>
</table>
</div>
{% endblock %}
