{% extends 'index.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="page-wrap">
<br>
  <!-- Section-->

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-4">
        <br>
            <h1>Réinitialisation de mot de passee</h1>
            <br>
            {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>
</div>

</div>
{% endblock %}