{% extends 'index.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="page-wrap">
  <!-- Section-->
 <div class="row justify-content-center">
        <div class="col-4">
        <br>
            <h1>Réinitialisation de mot de passe</h1>
            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>
</div>
{% endblock %}