{% extends 'base.html.twig' %}

{% block title %}Edit TailleArticle{% endblock %}

{% block body %}
    <h1>Edit TailleArticle</h1>

    {{ include('taille_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_taille_article_index') }}">back to list</a>

    {{ include('taille_article/_delete_form.html.twig') }}
{% endblock %}
