{% extends 'index.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier mon adresse </h1>

    {{ include('adresse/_form.html.twig', {'button_label': 'sauvgarder'}) }}

    </div>
{% endblock %}
