{% extends 'index.html.twig' %}

{% block title %}New Adresse{% endblock %}

{% block body %}
<div class="container">
</br>
    <h1>Ajouter une adresse :</h1>

    {{ include('adresse/_form.html.twig') }}

    <a href="{{ path('app_user') }}"> </a>
    </div>
    </br>
{% endblock %}
