{% extends 'index.html.twig' %}
{% block body %}
<body>
<style>

</style>
<div class="page-wrap">
 
     
 <section class="test">
       
<div class="container px-4 px-lg-5 mt-5">
<button class="btn"  onclick="myFunction()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>
 

<div id="myDIV" style="display:none">  
{{ form_start(form)}}
{{form_row(form.minTaille)}}
{{form_row(form.MaxTaille)}}

<button type="submit" class="btn btn-success">Filtrer</button>

{{form_end(form)}}
</div>
<br>


              
                    </div>
                </div>
            </div>

</div>


</body>



   {% block javascripts %}
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}


   
{% endblock %}









